// colors

$main-color: #b2ffe2;
$secondary-color: #3c3533;

$main-background-color: #d1fceb;

$black-color: #0A0908;

$button-disabled-color: #9e9e9e;
$button-hover-background-color: #a0e7cc;

// component sizes

$click-button-size: 16rem;

// paddings

$button-padding: 1rem 1.5rem;
$timer-button-padding-side: 2rem;

// borders

$button-border-radius: 1.25rem;
$timer-button-border-radius: 2rem;