// colors

$main-color: #83c5be;
$secondary-color: #006d77;

$main-background-color: #edf6f9;

$black-color: #0A0908;

$button-disabled-color: #9e9e9e;
$button-hover-color: #83c5be;

// component sizes

$click-button-size: 16rem;

// paddings

$button-padding: 1rem 1.5rem;
$timer-button-padding-side: 2rem;

// borders

$button-border-radius: 1.25rem;
$timer-button-border-radius: 2rem;