// colors

$main-color: #eae0d5;
$secondary-color: #5e503f;

$main-background-color: #ebfff7;

$black-color: #0a0908;

$button-disabled-color: #9e9e9e;
$button-hover-background-color: #eae0d5;

$click-button-circle-background-color: #c6ac8f;

// component sizes

$click-button-size: 16rem;

// paddings

$button-padding: 1rem 1.5rem;
$timer-button-padding-side: 2rem;

// borders

$button-border-radius: 1.25rem;
$timer-button-border-radius: 2rem;
